.embla {
  @apply max-w-screen-md m-auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --text-high-contrast-rgb-value: 49, 49, 49;

  &__viewport {
    @apply overflow-hidden;
  }

  &__container {
    @apply flex ml-[calc(var(--slide-spacing)_*_-1)];
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
  }

  &__slide {
    @apply flex-[0_0_var(--slide-size)] min-w-0 pl-[var(--slide-spacing)];

    &__img {
      @apply block h-[var(--slide-height)] w-full object-cover rounded-[1.8rem];
    }
  }

  &__controls {
    @apply grid grid-cols-[auto_1fr] justify-between gap-[1.2rem] mt-[1.8rem];
  }

  &__buttons {
    @apply grid grid-cols-[repeat(2,1fr)] gap-[0.6rem] items-center;
  }

  &__button {
    @apply appearance-none bg-transparent touch-manipulation no-underline cursor-pointer w-[3.6rem] h-[3.6rem] z-[1] text-on-primary;
    @apply flex items-center justify-center m-0 p-0 rounded-[50%] border-0;
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);

    &__svg {
      @apply w-[35%] h-[35%];
    }
  }

  &__dots {
    @apply flex flex-wrap justify-end items-center gap-x-2;
  }

  &__dot {
    @apply appearance-none bg-transparent touch-manipulation no-underline cursor-pointer w-[1.5rem] h-[1.5rem];
    @apply flex items-center justify-center m-0 p-0 rounded-[50%] border-0;

    @apply after:shadow-[inset_0_0_0_0.2rem_#4F4D3E] after:w-[1.4rem] after:h-[1.4rem] after:flex after:items-center after:content-[""] after:rounded-[50%];
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);

    &--selected {
      @apply after:shadow-[inset_0_0_0_0.2rem_#ebe3da];
    }
  }
}
